* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" sans-serif;
}

html {
  scroll-behavior: smooth;
}

#global-container {
  min-height: 100vh;
  background-color: rgb(36, 36, 36);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

/* ************************* scroll to top */
#scrolltop {
  display: none;
  z-index: 9;
  position: fixed;
  bottom: 1%;
  right: 1%;
  transform: translate(-50%, -50%);
  /* border: 2px solid #f7ac0a6e; */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  overflow: hidden;
  margin-bottom: 2px;
  background-image: linear-gradient(rgba(255, 0, 0, 0.712), rgba(255, 255, 0, 0.61));
  cursor: pointer;
}

#scrolltop p {
  color: black;
  animation: scrollTopanimate 1.5s linear infinite;
  font-size: small;
}

#scrolltop .fa-solid {
  color: black;
  animation: scrollTopanimate 1.5s linear infinite;
}

@keyframes scrollTopanimate {
  0% {
    transform: translateY(10px);
    text-shadow: 0 20px 0 gray;
  }

  20% {
    transform: translateY(10px);
  }

  40% {
    transform: translateY(-20px);
  }

  60% {
    transform: translateY(-40px);
  }

  100% {
    transform: translateY(-80px);
  }
}

/* ************************HEADER*************** */
header {
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: transparent;
  z-index: 98;
  transition: 0.5s;
  position: fixed;
  width: 100%;
  background-color: transparent;
}

/* quand on scroll la page on met de la couleur a notre header  */
header.stickey {
  background-color: rgba(255, 255, 255, 0.041);
}

#header-container {
  position: relative;
  display: flex;
  width: 90%;
  min-height: 3rem;
  justify-content: space-around;
  align-items: center;
  /* background-color: black; */
}

#social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 30%;
  position: relative;
}

@keyframes scroll {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.header-icon-container {
  width: 30px;
  height: 30px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  animation: scroll 2s;
}

a {
  text-decoration: none;
  color: #F2F2F2;
  font-size: 20px;
}
.nav_toggler {
  position: fixed;
  right: 20px;
  top: 0;
  width: 50px;
  height: 50px;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  z-index: 99;
  background-color: transparent;
}

.line {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #F2F2F2;
  transition: transform 0.3s ease-out,
  opacity 0.1s ease-out;
}
.l1{
transform: translateY(-10px);
}
.l3{
transform: translateY(10px);
}
.nav_toggler.active .l1{
  transform: translateY(0px) rotate(135deg);
}
.nav_toggler.active .l2{
  display: none;
}
.nav_toggler.active .l3{
  transform: translateY(0px) rotate(-135deg);
}
nav{
  position: fixed;
  width: 100%;
  min-height: 100vh;
  background-color:#1B378C;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transform: translateY(-100%) translateX(100%);
  transition: transform 0.8s ;
  border-bottom-left-radius: 40%;
}
nav.active{
  transform: translate(0);
}
nav a{
  margin: 10px;
  font-size: xx-large;
}
/* **************** ***************************HERO*********** */
#container-hero {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  gap: 20px;
  /* background-color: aliceblue; */
}

#title-hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

#text-anime {
  color: transparent;
  font-size: 50px;
  position: relative;
}

#text-anime::before {
  content: attr(data-text);
  position: absolute;
  width: 300px;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid white;
  /* curser*/
  animation: animate 8s linear infinite;
}

/* pour l'animation du text au dessus de l'image */
@keyframes animate {

  0%,
  10%,
  100% {
    width: 0;
  }

  90%,
  96% {
    width: 100%;
  }
}

#container-rond {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: none;
  box-shadow: rgba(219, 214, 214, 0.35) 0px 5px 10px;
}

#container-hero #container-rond {
  transform: rotate(5deg);
}

#image-hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#profession {
  font-size: small;
  color: gray;
  text-transform: uppercase;
  letter-spacing: 15px;
}

#nav-hero {
  display: flex;
  flex-direction: row;
  border: none;
  gap: 20px;
}

.hero-button {
  margin: 2px 6px;
  background-color: transparent;
  border: 1px solid #242424;
  text-transform: uppercase;
  font-size: small;
  color: gray;
  transition: all 0.5s;
}

.hero-button:hover {
  border-color: #f7ac0a6e;
}

#circle {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 2px solid #f7ac0a6e; */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 50px;
  font-size: 40px;
  overflow: hidden;
  margin-bottom: 2px;
}

#circle .fa-solid {
  animation: scrollanimate 1s linear infinite;
  color: #1B378C;
}

@keyframes scrollanimate {
  0% {
    transform: translateY(-25px);
    text-shadow: 0 20px 0 gray;
  }

  20% {
    transform: translateY(0px);
  }

  40% {
    transform: translateY(0px);
  }

  60% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(50px);
  }
}

/* ********************** section : about me */
section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* background-color: yellow; */
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 1px solid white;
}

/* classes en commun */
.titre {
  font-size: small;
  color: gray;
  text-transform: uppercase;
  letter-spacing: 5px;
}

/* ********* about me */
#about-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 99%;
  padding: 50px;
  gap: 15px;
}

#about-body {
  display: flex;
  justify-content: center;
  width: 70%;
  padding: 10px;
  gap: 5%;
  /* background-color: rosybrown; */
}

#container-carre img {
  object-fit: cover;
}

.text {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: gray;
}

@media (max-width: 600px) {
  #header-contactme-container a p {
    display: none;
  }
}

@media (max-width: 670px) {
  a {
    font-size: 15px;
  }

  #header-container {
    justify-content: space-between;
    width: 100%;
  }

  #social-icons {
    gap: 3px;
    width: 50%;
  }

  #text-anime {
    font-size: large;
  }

  #about-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #about-body {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  /* rendre l'image rond */
  #container-carre {
    border-radius: 5%;
    overflow: hidden;
  }
}

/* **********************SKILLS : */
#skills {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 99%;
  height: 100vh;
}

#skills-icons-container {
  min-width: 80%;
  height: 70%;
  border-radius: 10px;
  background-color: #242424;
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  justify-content: center;
  padding: 5%;
  margin-top: 20px;
}

.icon-language {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease-in-out;
  /* filter: blur(10px); */
  filter: grayscale(100%);
}

.icon-language:hover {
  transform: scale(1.2);
  filter: none;
}

.image-language {
  width: 80%;
  height: 80%;
  object-fit: cover;

}

@media (max-width: 670px) {
  .icon-language {
    width: 100px;
    height: 100px;
  }
}

/* ***************************projects */
/* ***********************contact */
#contact {
  width: 99%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#contact_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 80%;
}

.input {
  width: 80%;
  height: 30%;
  background-color: transparent;
  border: 1px solid grey;
  padding: 5px;
}

.input_message {
  width: 80%;
  height: fit-content;
  background-color: transparent;
  border: 1px solid grey;
  padding: 5px;
}